
body {
  font-family: 'roboto';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.post {
    width: 275px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    background-color: white;
    margin-top: 100px;

  }

  .header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
    width: 270px;
  }

  .icon-head{
    margin-right: 5px;
    font-size: 20px;
  }

.post-body{
  padding: 10px;
}

  .post-icons{
    display: flex;
    justify-content:space-between;
    margin-bottom: 15px;
  }

  i {
    margin-right: 3px;
  }
  
  p {
    margin-bottom: 10px;
    font-size: 10px;
  }

  .post-icons-left{
    display: flex;
    align-items: center;
  }

  .post-title{
    font-size: 10px;
    font-weight: bold;
    margin: 0px;
  }
  .post-subtitle{
    font-size: 10px;
    margin: 0px;
  }

  span{  font-weight: bold;}